table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}

tbody>tr:nth-child(odd) {
    background-color: rgb(241, 232, 255);
}

#grid-container {
    display: grid;
    font-size: 1vw;
    grid-template-columns: 65% 35%;
}

#grid-container table {
    width: 100%;
    height: 100%;
}

#grid-container #image {
    width: 590px;
    height: 400px;
}

nav {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: gainsboro;
    box-shadow: 0 0 5px gray;
    box-sizing: border-box;
}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li{
    flex-grow: 1;
    justify-content: space-around;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: gray;
}